.sidemenu{
    position: fixed;
    width: 15vw;
    height: 100vh;
    left: 0;
}


.product-type {
    display: grid;
    grid-template-columns: 5% 35% 35% 5%;
    grid-auto-rows: 50vh;
    grid-template-areas:
    '. new new .'
    '. shirts pants .'
    '. fleece fleece  .'
    '. softshell softshell .'
    '. down down .';
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: center;
    margin-top: 10vh;
    font: 0.1em smaller;

}

.new{
    grid-area: new;
    background-repeat: no-repeat;
    background-size: cover;
}
.fleece{
    grid-area: fleece;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}
.shirts{
    grid-area: shirts;
    background-repeat: no-repeat;
    background-size: cover;
}
.pants{
    grid-area: pants;
   background-repeat: no-repeat;
    background-size: cover;
}
.softshell{
    grid-area: softshell;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}
.down{
    grid-area: down;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.sub-grid-right{
    border: 1px solid #DEDEDE;
    border-left: 1px solid white;
}

.sub-grid-right:after{
    content:'';
    position: absolute;
    left: 0;
    right: 24px;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: 25px solid white;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    transform: rotate(90deg);
}

.sub-grid-left{
    border: 1px solid #DEDEDE;
    border-right: 1px solid white;
}

.sub-grid-left:after{
    content:'';
    position: absolute;
    left: 24px;
    right: 0px;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: 25px solid white;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    transform: rotate(-90deg);
}