@font-face {
  font-family: Selima;
  src: url("../../assets/Selima.otf") format("opentype");
  font-family:American Captain;
  src: url("../../assets/AmericanCaptain.otf") format("opentype");
}


.main-body{
  color: #f1f1f1;
  margin: 0 0 0 0;
  padding: 0;
}

.carousel-item img{
  height: 100vh;
  object-fit: cover;
}

.nav-style {
  background: rgba(255,255,255,0);
  height: 25vh;
  /* font-family: 'Lobster', 'cursive'; */
  position: absolute;
  z-index: 999;
  font-family: Selima;
}

.store-grid{
  display: grid;
  grid-template-columns:  25% 25% 25% ;
  grid-template-rows: 37.5% 21.5% 21.5% 15%;
  grid-template-areas:
  'feat feat feat'
  'female main male'
  'female back male'
  'acces acces acces';
  width: inherit;
  height: 200vh;
  grid-row-gap: 0.75%;
  justify-content: center;
  margin-top:2.5vh
}

.store-featured{
  grid-area: feat;

}

.store-featured-img{
  
}

.slick-slide {
  position: relative;
  text-align: center;
  display: block;
  height:100%;
  background-color: black;
  border: 0px solid #000000;
 
}

.slick-slide img{
  height: 75vh;
  width: 100%;
  object-fit: cover;
  background-color: #000000
}

.slick-slide .info{
  position: absolute;
  z-index: 99999999;
  width: 25%;
  height: 25%;
  top: 0%;
  right: 0%;
  color: aliceblue;
  background-color: rgba(0, 0, 0,0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 45px 6px rgba(0,0,0,0.75);
}

.name{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-content: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-family:American Captain;
  background-color: #000000;
  color: #E8E8E8
}

.name button{
  font-size:2rem;font-family:American Captain,sans-serif;background-color: #E8E8E8;color: #000000;border: none;
  height: 10%;
  align-self: center;
}

.name:after{
  content:'';
  position: absolute;
  top:10%;
  right: 100%;
  margin-right: -25px;
  width: 0;
  height: 0;
  z-index:199;
  transform: rotate(90deg);
  border-top: solid 50px #000000;
  border-left: solid 50px transparent;
  border-right: solid 50px transparent;
}

.store-female{
  grid-area: female;
  background-image: url('../../assets/beauty-close-up-dark-1797350.jpg');
  background-size: cover;
}

.store-male{
  grid-area: male;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../assets/casual-denim-jacket-estonia-1785779.jpg")
}


.carousel-items2 img{
  height: 68.65vh;
  width: 100%;
}

.store-main{
  grid-area: main;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  flex-direction: column;
  background-color: #E8E8E8;
  margin-right:10px; 
  position: relative;
}

.store-main:after{
  content:'';
  position: absolute;
  top: 50%;
  right: 100%;
  margin-right: -25px;
  width: 0;
  height: 0;
  z-index:199;
  transform: rotate(90deg);
  border-top: solid 50px #E8E8E8;
  border-left: solid 50px transparent;
  border-right: solid 50px transparent;
}

.store-backpack{
  grid-area: back;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  flex-direction: column;
  background-color: #E8E8E8;
  margin-left:10px; 
  position: relative;
}


.store-backpack:after{
  content:'';
  position: absolute;
  top: 50%;
  left: 100%;
  margin-left: -25px;
  width: 0;
  height: 0;
  z-index:199;
  transform: rotate(-90deg);
  border-top: solid 50px #E8E8E8;
  border-left: solid 50px transparent;
  border-right: solid 50px transparent;
}

.store-acces{
  grid-area: acces;
  background-image: url('../../assets/beauty-close-up-dark-1797350.jpg');
  background-size: cover;
}

.destination-panel{
  width:inherit;
  height:90vh;
  font-size: 2.5em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.destination-panel input{
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  color: #000000;
  width: 15%;
  transition: width 0.4s ease;
  
}


.destination-panel input:focus{
  width: 30%;
  border-bottom: 1px solid tomato
}
/* 
HTML {
  height: 100%;
  width: 100%;
  background-image: url(http://www.pulsarmedia.eu/data/media/18/chess_image_pattern_1920x1200.jpg);
  background-repeat: no-repeat;
  background-size: cover;
} */
.sign {
  float:left;
  margin:100px 3em 0;
  /* sign width */
  width: 150px;
  /* Give it a white border */
  border: 5px solid #fff;
  /* pad content text away from the edges of the sign */
  padding: 0.25em 1em .75em;
  /* give it a drop shadow and inset shadow at the top */
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4), 0 5px 10px rgba(0, 0, 0, 0.4);
  /* setup a default background red and a red gradient where supported */
  background-color: #d10000;
  /* //background: linear-gradient(top, #ff9696 0%, #c80000 100%); */
  /* attempt to get rid of jaggies when rotated */
  transform-style: preserve-3d;
  backface-visibility: hidden;
  /* nice rounded corners */
  border-radius: 15px;
  /* set the swing origin (nail body) */
  transform-origin: 50% -65px;
  /* animate the swing with pendulum-style easing */
  animation: swing 1.5s infinite alternate ease-in-out;
}
.sign:hover {
  /* Hover over the sign to stop the animation */
  animation-play-state: paused;
}
.sign P {
  /* Typography */
  font-smoothing: antialiased;
  /* let's have uppercase.. */
  text-transform: uppercase;
  /* Arial... */
  font-familty: Arial, sans-serif;
  /* bold... */
  font-weight: bold;
  /* white... */
  color: #fff;
  /* centered text */
  text-align: center;
  /* with a subtle drop shadow for definition */
  text-shadow: 0 0 2px rgba(0,0,0,1);
  /* kill any default P margins and center it */
  margin: 0 auto;
  line-height: normal;
}
.one {
  margin-left:200px;
}

.sign:before {
  /* string */
  position: absolute;
  content: "";
  /* string thickness/color */
  border: 2px dotted #444;
  /* hide string after connection with sign */
  border-bottom: none;
  border-left: none;
  /* string 'size' (as a -45deg rotated square) */
  width: 100px;
  height: 100px;
  /* string position */
  top: -55px;
  left: 50%;
  margin-left: -50px;
  /* string construct */
  transform: rotate(-45deg);
  /* string curved round nail body (unseen) */
  border-radius: 0 5px 0 0;
}
.sign:after {
  /* nail */
  position: absolute;
  content: "";
  /* nail head size */
  width: 10px;
  height: 10px;
  /* nail head as a circle */
  border-radius: 50%;
  /* nail position */
  top: -75px;
  left: 50%;
  margin-left: -4px;
  /* nail head default color + gradient (where supported) */
  background: #4c4c4c;
  background: linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
}
/* sign swinging animation sequence */
@keyframes swing {
  0% { transform: rotate(-3deg) }
  100% { transform: rotate(3deg) }
}