.grid-container{
    display: grid;
    grid-template-columns: auto; 
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "sec1" 
    "sec2"
    "sec3";
    height: auto;
    text-align: center;
}

.nav-style{
    margin: 0 0 2rem 0;
    padding: 0;
    font-size:1em;
    height: 10vh;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.26)
}

/* .list-section{
    width: 15vw;
    grid-area: sec2;
    right:0;
}

.list-section ul{
   padding: 20px;
}

.list-section ul li{
    padding: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    transform-origin: 0 50%;
}

.list-section ul li:first-child{
    padding: 5px;
    font-size: 2em;
}

.list-section ul li:not(:first-child){
    padding: 0 0 0 20px;
    width: 100%;

}

.list-section ul li:not(:first-child):hover{
    transform: scale(1.5);
    
    transition: transform 200ms linear ;
} */

.product-list{
    grid-area: sec3;
}

.section-name{
    grid-area: sec1;
    margin-bottom: 5vh;
    width: inherit;
}

.section-sort{
    grid-area: sec2
}

.product-list-grid-container{
    display: grid;
    grid-template-columns: 32.5% 32.5% 33%;
    grid-auto-rows: auto;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    
}

.product-list-grid-container-item{
    transition: box-shadow 0.3s ease-in;
}

.product-list-grid-container-item:hover{
    box-shadow: 0px 7px 15px 6px rgba(0,0,0,0.26);
}

.product-list-grid-container img {
    width: 100%;
    height: 350px;
}