

<div class="grid-container">
    <div class="list-section" style="position:fixed">
      <ul class="list-unstyled">
        <li>Filter By</li>
        <li>Men</li>
        <li>Women</li>
        <li>Price</li>
        <li>Color</li>
        <li>Volume</li>
        <li>Features</li>
      </ul>
      <ul class="list-unstyled">
        <li>Sort By</li>
        <li>Ascending</li>
        <li>Descending</li>
        <li>Rating</li>
        <li>Popularity</li>
        <li>Newest</li>
      </ul>
    </div>
    <div class="product-list container-fluid" >
      <div class="product-list-grid-container">
        <div class="product-list-grid-container-item" *ngFor="let i of bagsLink">
          <img src={{i.link}} class="d-block w-100" alt="...">
          <h3>Title: {{i.title}}</h3>
          <p>Price: {{i.price}}</p>
        </div>
      </div>
    </div>
</div>