<div class="row no-gutters">
  <div class="col-2" style="border: 1px solid #000;">
    <ul>
      <li>Filter By</li>
      <li>Men</li>
      <li>Women</li>
      <li>Price</li>
      <li>Color</li>
      <li>Volume</li>
      <li>Features</li>
    </ul>
    <ul>
      <li>Sort By</li>
      <li>Ascending</li>
      <li>Descending</li>
      <li>Rating</li>
      <li>Popularity</li>
      <li>Newest</li>
    </ul>
  </div>
  <div class="col-6" style="border: 1px solid #000;">IAM8</div>
  <div class="col-4" style="border: 1px solid #000;">IAM2</div>
</div>