<nav class="navbar navbar-expand-lg navbar-light sticky-top bg nav-style">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="">
        <ul class="navbar-nav" >
            <li class="nav-item active">
                <a class="nav-link" routerLink='/'>Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/backpacks' >Backpacks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Accessories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Guide</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto" style="font-size:1em">
            <li class="nav-item">
                <a class="nav-link" href="#">Account</a>
            </li>
            <li class="nav-item" style="margin: 8px">
                <i class="fas fa-search"></i>
            </li>
            <li class="nav-item" style="margin: 8px">
                <i class="fas fa-shopping-cart"></i>
            </li>
        </ul>

    </div>
</nav>

<!-- <div class="banner">
    <h1>Space For Banner</h1>
</div> -->

<div class="grid-container">
  <div class="section-name">
      <h2>Backpacks</h2>
  </div>
<div class="section-nav">
    <a (click)="slickModal.slickNext()" style="font-size:40px;cursor: pointer;"><i class="fas fa-chevron-circle-left" style="z-index:99"></i></a>
</div>
  <div class="section-sort">
    <ngx-slick class="carousel " #slickModal="slick-modal" [config]="slideConfig" style="">
        <div ngxSlickItem *ngFor="let i of bagsLink" class="slide  product-list-grid-container-item " style="margin:10px">
            <div class="slider-point">
                <img src={{i.link}} class="" style="width:100%;height: 350px;">
                <div  >
                    <h5>Title: {{i.title}}</h5>
                    <p>Price: {{i.price}}</p>
                    <!-- <p>{{i.info}}</p> -->
                </div>
            </div>
        </div>
    </ngx-slick>
  </div>
  <div class="section-nav2">        
        <a (click)="slickModal.slickPrev()" style="font-size:40px;cursor: pointer;"><i class="fas fa-chevron-circle-right" style="z-index:99"></i></a>
    </div>
</div>
