.product-section{
    display: grid;
    grid-template-columns: repeat(3,27%);
    grid-auto-rows: 45vh;
    justify-content: center;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    text-align: center;
    align-content: center ;
}

.product-section img{
    max-width: 400px;
    height: 300px;
}
