<div id="mySidenav" class="sidenav">
    <div class="container">
        <a id="sidebarBack" style="margin-bottom:1em"><i class="fas fa-arrow-left"></i></a>
        <hr>
        <a href="#">Accessories</a>
        <hr>
        <a href="#">Men's</a>
        <hr>
        <a href="#">Women's</a>
        <hr>
        <a href="#">Store</a>
        <hr>
        <a href="#">About Us</a>
        <hr>
        <a href="#">My Account</a>
    </div>
</div>
<div id="sidenavRight" class="sidenav ">
    <div class="container">
        <a id="sidebarBack" style="font-size: 2.5em;margin-bottom:1em "><i class="fas fa-arrow-left"></i></a>
        <hr>
        <a href="#">Checkout</a>
    </div>
</div>

<div class="main">
    <div class="main-body">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <nav class="navbar navbar-expand-lg navbar-light bg nav-style">
                    <div class="row" style="width: 100vw">
                        <div class="col" id="sidebarToggle">
                            <span class="blur" style="font-size: 2em;padding: 2em">
                                <i class="fa fa-bars"></i>
                            </span>
                        </div>
                        <div class="col">
                            <div style="text-align:center;">
                                <span>
                                    <h1 class="display-1">Trekmonk</h1>
                                </span>
                            </div>
                        </div>
                        <div class="col" id="sidebarToggleRight">
                            <div class="float-right">
                                <span class="blur" style="font-size: 2em;padding: 2em">
                                    <i class="fas fa-shopping-cart"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="carousel-item active">
                    <img src="../../assets/action-adult-adventure-356808.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/adventure-attraction-blurry-618545.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/activity-adventure-backlit-450062.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>
    <div>
        <nav class="navbar navbar-expand-lg sticky-top navbar-light bg nav-style2">
            <!-- <a class="navbar-brand" href="#" style="font-size:2em">Trekmonk</a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav" style="font-size:1.75em">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item" id="dropdown">
                        <a class="nav-link">Men</a>
                        <ul class="list-unstyled" id="menu">
                            <li>Tshirts</li>

                            <li>Fleece Insulation</li>

                            <li>Down Insulation</li>

                            <li>Raingear</li>

                            <li>Pants</li>

                            <li>Softshell</li>
                        </ul>
                    </li>
                    <li class="nav-item" id="dropdown2">
                        <a class="nav-link">Women</a>
                        <ul class="list-unstyled" id="menu2">
                            <li>Tshirts</li>

                            <li>Fleece Insulation</li>

                            <li>Down Insulation</li>

                            <li>Raingear</li>

                            <li>Pants</li>

                            <li>Softshell</li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/backpacks' >Backpacks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Accessories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Guide</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto" style="font-size:1.75em">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Account</a>
                    </li>
                    <li class="nav-item" style="margin: 8px">
                        <i class="fas fa-search"></i>
                    </li>
                    <li class="nav-item" style="margin: 8px">
                        <i class="fas fa-shopping-cart"></i>
                    </li>
                </ul>

            </div>
        </nav>

        <section class="featuredSection" id="featured-section">
            <h3 class="featured-header" style="margin:0;padding:0">Featured Products</h3>
            <div class="featured-img1"><img src="" alt="">
                <div>
                    <h4>Title</h4>
                    <h4>Price</h4>
                </div>
            </div>
            <div class="featured-img2"><img src="" alt="">
                <div>
                    <h4>Title</h4>
                    <h4>Price</h4>
                </div>
            </div>
            <div class="featured-img3"><img src="" alt="">
                <div>
                    <h4>Title</h4>
                    <h4>Price</h4>
                </div>
            </div>
        </section>

        <section>
            <div class="store-panel">
                <div class="row store-panel-row">
                    <div class="col-12 store-panel-col store-panel-men">
                        <div class="">
                            <h1 class="display-4" style="font-weight: 500;font-family: 'Volkhov', serif;" id="shop">SHOP</h1>
                            <h4 class="" style="font-weight: 500;font-family: 'Volkhov', serif;" id="men">Men</h4>
                            <h4 class="" style="font-weight: 500;font-family: 'Volkhov', serif;" id="women">Women</h4>
                        </div>
                    </div>
                    <!-- <div class="col-6 store-panel-col store-panel-women">
                        <h1 style="background-color: rgba(0, 0, 0, 0.5);width: 100%;">Women's Collection</h1>
                    </div> -->
                </div>
            </div>
        </section>

        <div class="destination-panel">
            <h2 style="font-family: Selima;font-size: 50px">Your Next Destination ?</h2>
            <input type="text" style="padding:5px;margin: 5px">
            <input type="text" style="padding:5px;margin: 5px">
        </div>


        <div class="post-latest">
            <div class="post-heading">
                <h2 style="padding:50px 0 0 0;">Xpedition Series</h2>
            </div>

            <section>
                <div *ngFor="let i of displayData">
                    <div class="post-section animated fadeIn">
                        <div class="post-card" *ngFor="let x of i">
                            <div class="post-img"><img src={{x.cardLink}} class="card-img-top" alt="..."></div>
                            <div class="post-body">
                                <h5 class="post-title">{{x.cardTitle}}</h5>
                                <p class="post-info">{{x.cardInfo}}</p>
                                <p class="post-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="button-style">
                    <button class="" (click)="getPostList()">Load More</button>
                </footer>
            </section>
        </div>

         <div class="insta-gallery container-fluid d-flex flex-row">
            <div style="width: 280px;height: 210px;text-align: center;align-items: center;display: flex;align-items: center;flex-direction: column;border: 1px solid black;border-radius: 4px">
                <p style="margin:20px 0 0 0;padding: 0">Find us</p>
                <i class="fab fa-instagram" style="font-size: 100px;">
                </i>
                <p style="margin:0;">@Trekmonk</p>
            </div>
            <img src="../../assets/adventure-attraction-blurry-618545.jpg" alt="">
            <img src="../../assets/action-adult-adventure-356808.jpg" alt="">
            <img src="../../assets/adult-adventure-climb-414017.jpg" alt="">
            <img src="../../assets/adventure-attraction-blurry-618545.jpg" alt="">
            <img src="../../assets/action-adult-adventure-356808.jpg" alt="">

            <div style="width: 280px;height: 210px;text-align: center;display: flex;align-items: center;justify-content: center">
                <p style="margin:0;">Load more</p>
            </div>
        </div> 

    </div>

    <hr>

    <div class="footer">
        <div class="footer-sec-one">
            <ul class="list-unstyled">
                <li>Blog</li>
                <li>Shipping</li>
                <li>Contacts & FAQs</li>
            </ul>
        </div>
        <div class="footer-sec-two">
            <div>
                Subscribe
            </div>
            <div style="margin-top:10px">
                <input type="email" name="email" id="" placeholder="Email">
            </div>
            <div style="margin-top:10px">
                <h4>Follow Us</h4>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item"><i class="fab fa-instagram"></i></li>
                <li class="list-inline-item"><i class="fab fa-facebook-square"></i></li>
                <li class="list-inline-item"><i class="fab fa-twitter"></i></li>
            </ul>
        </div>
        <div class="footer-sec-three">
            <ul class="list-unstyled">
                <li>Email</li>
                <li>email@email.com</li>
                <hr>
                <li>Call</li>
                <li>123456789</li>
                <li>123456789</li>
            </ul>
        </div>
    </div>
</div>

<!-- </div> -->
