@font-face {
    font-family: Selima;
    src: url("../../assets/Selima.otf") format("opentype");
}

.nav-style {
    background: rgba(255,255,255,0);
    height: 25vh;
    /* font-family: 'Lobster', 'cursive'; */
    position: absolute;
    z-index: 999;
    font-family: Selima;
 }

 .nav-style2 {
    background: rgba(255,255,255,0);
    height: 10vh;
    font-size: 10px;
 }

 #dropdown{
    cursor: pointer;
 }
 #dropdown2{
    cursor: pointer;
 }

 #dropdown:hover #menu{
    display: block;
    cursor: pointer;
}

 #menu{
     height: auto;
     max-height:500px;
     width: 20%;
     display: none;
     position: absolute;
     /* left: 0; */
     /* top:10vh; */
     background-color: white; 
     border: 0px solid #000000;
     border-radius: 0px 0px 4px 4px;
 }

 #menu :first-child {
     margin-top: 30px
 }

 #menu li {
     /* text-decoration: none; */
     /* margin-left: 20px; */
     color: rgba(0,0,0,.4);
     margin: 0 20px 0 20px;
     padding: 10px 0;
}

#menu li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    background: #9CF5A6;
    visibility: hidden;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .25s linear;
  }
 
 #menu li:hover:before,
 #menu li:focus:before {
   visibility: visible;
   transform: scaleX(1);
 }


 #dropdown2:hover #menu2{
    display: block;
    cursor: pointer;
}

 #menu2{
     height: auto;
     max-height:500px;
     width: 20%;
     display: none;
     position: absolute;
     /* left: 0; */
     /* top:10vh; */
     background-color: white;
     border-radius: 0px 0px 4px 4px;  
 }

 #menu2 :first-child {
     margin-top: 30px
 }

 #menu2 li {
     /* text-decoration: none; */
     /* margin-left: 20px; */
     color: rgba(0,0,0,.4);
     margin: 0 20px 0 20px;
     padding: 10px 0;
}

#menu2 li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    background: #9CF5A6;
    visibility: hidden;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .25s linear;
  }
 
 #menu2 li:hover:before,
 #menu2 li:focus:before {
   visibility: visible;
   transform: scaleX(1);
 }

 .carousel-item img{
     height: 100vh;
     object-fit: cover;
 }

 .sidenav {
     height: 100vh;
     width: 0;
     position: fixed;
     z-index: 99999;
     top: 0;
     left: 0;
     background-color:rgb(255, 255, 255);
     overflow-x: hidden;
     transition: 0.5s;
     padding-top: 75px;
     text-align: center
     /* font-family: 'Permanent Marker', cursive; */
   }
   
.sidenav a {
     padding: 8px 8px 8px 32px;
     text-decoration: none;
     font-size: 20px;
     color: #818181;
     display: block;
     transition: 0.3s;
     opacity: 1;
   }
   
.sidenav a:hover {
     color: #f1f1f1;
     
   }
   
.sidenav .closebtn {
     position: absolute;
     top: 0;
     right: 25px;
     font-size: 36px;
     margin-left: 50px;
   }
 
.blur:hover{
     color: rgba(0,0,0,0.5);
     cursor: pointer;
   }

.main-body{
    color: #f1f1f1;
    margin: 0 0 0 0;
    padding: 0;
}

.back-img{

}

.second-section-img{
    height: 50vh;
}

.featured-container{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
    ". h ."
    ". footer .";
    height: auto;
    margin: 7.5vh 0;
}

.section-nav{
    grid-area:h;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.section-nav a i:first-child {
    animation: arrow 1.5s infinite;
    animation-delay: 0.25s
}

.section-nav a i:nth-child(2) {
    animation: arrow 1.5s infinite;
    animation-delay: 0.15s
}

.section-nav a i:nth-child(3) {
    animation: arrow 1.5s infinite;
}

.section-nav .a2 i:first-child {
     animation: arrow 1.5s infinite;
     
}

.section-nav .a2 i:nth-child(2) {
     animation: arrow 1.5s infinite;
     animation-delay: 0.15s
}

.section-nav .a2 i:nth-child(3) {
     animation: arrow 1.5s infinite;
     animation-delay: 0.25s
    }

@keyframes arrow {
    25%{
        opacity: 1;
    }
    33.3%{
        opacity: 0.5;
        /* transform:scale(0.5); */
    }
    50%{
        opacity: 0;
        /* transform:scale(0.5); */
    }
    66.6%{
        opacity: 0.5;
        /* transform:scale(0.5); */
    }
    100% {
        opacity: 1;
        transform:scale(1);
       }
}

.section-sort{
    grid-area: footer;
}

.slick-slide {
    /* ... */
    position: relative;
    text-align: center;
    display: block;
}

.slick-slide img{
    width: 100%;
    max-height: 600px;
    height: 100%;
}



.slick-slide .info{
    position: absolute;
    z-index: 99999999;
    width: 25%;
    height: 25%;
    bottom: 0;
    right: 0;
    color: #EDECEC;
    background-color: rgba(0, 0, 0, 0.5)
}

.carousel-style{
    box-shadow: 0px 0px 56px 1px rgba(153,153,153,1);

}

.store-panel{
    width: inherit;
}

.store-panel-col{
    height: 85vh;
    margin: 0;
    padding: 0;
    width: inherit;
}

.store-panel-men{
    background-image: url("../../assets/Untitled-2.png");
    background-size: cover;
   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 5vw; 
}

.destination-panel{
    background-image: url("../../assets/alone-cold-daylight-351978.jpg");
    width:inherit;
    height:85vh;
    background-position: center;
    background-size: auto;
    background-attachment: fixed;
    color: #EDECEC;
    font-size: 2.5em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    /* font-family: 'Lobster', 'cursive'; */
}

.destination-panel input{
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
}

.destination-panel input:hover{
    background-color: rgba(0,0,0,.4);
    transform: scaleX()
}


@media only screen and (max-width: 768px) {
    .featured-container{
        grid-template-columns: 100%;
        height: auto;
        grid-template-areas: 
        " h "
        " footer ";
        margin: 20px 0;
        padding: 0;
    }
    .featured-container .section-nav{
        display: none;
    }

    .product-list-grid-container-item img{
        width: 100%;
        /* height: 300px; */
    }
}

@media only screen and (max-width: 480px) {
    .destination-panel input{
        width: 200px;
    }
}

/* .come-in {
    transform: translateX(1500px);
    animation: come-in 1s ease 0.15s forwards;
  }
  .come-in:first-child {
    animation-duration: 0.6s;
  }

  .come-in:nth-child(2) {
    animation-duration: 0.8s;
  }

  .come-in:nth-child(3) {
    animation-duration: 1s;
  }
   */
  @keyframes come-in {
    to { transform: translateX(0); }
  }

/* .third-section{
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    font-family: 'Lobster', 'cursive';
    margin: 15vh 0 15vh 0;
    padding: 0;
} */

.insta-gallery{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 7.5vh 0 7.5vh 0;
    font-family: 'Permanent Marker', cursive;
}

.insta-gallery img{
    width: 280px;
    height: 210px;
    border: #f1f1f1 4px solid;
    
}

.insta-gallery img:hover{
    animation: scale 200ms ease-in-out forwards;
}

@keyframes scale {
    to {
        transform: scale(2)
    }
}

.mid-text{
    /* font-family: 'Permanent Marker', cursive; */
}

.space-bar{
    /* font-family: 'Permanent Marker', cursive; */
    margin: 0 0 7.5vh 0;
}

.row-style{
    width: 95%;

}

.col-style{
    text-align: center;
}

.footer{
    display: grid;
    /* background-color: black; */
    /* color: #EDECEC; */
    grid-template-columns: auto auto auto;
    grid-template-rows: 250px;
}

.footer-sec-one{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold
}

.footer-sec-one ul li {
    padding: 10px;
}

.footer-sec-two{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex-direction: column;
}

.footer-sec-two ul li {
    padding: 5px;
    font-size: 1.25em
}

.footer-sec-three{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex-direction: column;
}

.footer-sec-three ul li {
    padding: 5px;
}

.post-heading{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0vh;
    margin: 0 0 1vh 0;
}

.post-img img{
    width: 100%;
    transition: all 0.6s;
    padding: 10px;
}

.button-style{
    display: flex;
    justify-content: center;
    padding: 25px;
}


.xpedition-nav{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
}

.xpedition-container{
    display: grid;
    grid-template-columns:100%;
    grid-template-rows:100%;
    height: 70vh;
    justify-content:center;
    align-content: center
}

.carousel-style2{
    padding: 2vw
}

.slick-slider2 {
    width: 20vw;
    height: auto;
    margin: 2.5vw;
}


.post-body{
    padding: 10px 10px 0 10px;
}

.paper {
    background: #fff;
    padding: 10px;
    position: relative;
  }
  
  .paper,
  .paper::before,
  .paper::after {
    /* Styles to distinguish sheets from one another */
    box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
    border: 1px solid #bbb;
  }
  
  .paper::before,
  .paper::after {
    content: "";
    position: absolute;
    height: 95%;
    width: 99%;
    background-color: #eee;
  }
  
  .paper::before {
    right: 15px;
    top: 0;
    transform: rotate(-1deg);
    z-index: -1;
  }
  
  .paper::after {
    top: 5px;
    right: -5px;
    transform: rotate(1deg);
    z-index: -2;
  }

  .blank-section{
    background-image: url("../../assets/back-background-blur-747470.jpg");
    height:30vh;
    width: inherit;
    background-size: cover;
    background-position: 75%;
    background-attachment: fixed;
    opacity: 0.6
  }

  .insta-section{
      display: grid;
      grid-template-columns: repeat(10,2fr);
      grid-template-rows: 50% 50%;
      height: 30vh;
      padding: 0;
      margin: 0;
  }


/* 
store-grid-new */


