<nav class="navbar navbar-expand-lg navbar-light nav-style" scroll [@scrollAnimation]="state">
        <h3 class="navbar-brand" routerLink="/">Navbar</h3>
    <p class="navbar-brand" routerLink="/store/men">Men</p>
    <p class="navbar-brand" routerLink="/store/women">Women</p>
  </nav>

<!-- <div style="position:fixed;z-index: -999;left:500px">
    <img src="../../assets/oRGmV1554323362.jpg" alt="">
</div> -->

<section class="landing-section">
    <div class="main-pics">
        <span style="position: absolute;left:10%;top:10%;color: white">Trekmonk</span>
    </div>
    <div class="small-1">
        <!-- <button style="position: absolute;right:450px;bottom:100px;font-size:2rem;font-family:American Captain,sans-serif;background-color: black;color: aliceblue;border: none">SHOP</button> -->

    </div>
    <div class="small-2">
        <span style="position: absolute;left:10%;top:10%;">Weather</span>
    </div>
</section>

<section class="featured-section">
    <div *ngFor="let i of featuredLink; let x = index" class="featured-section-hover" style="position: relative;"
        (mouseover)="hover=x" (mouseleave)="hover=-1">
        <!-- [ngStyle]="hover==x ?{'background-image':'url('+i.link2+')'}:{'background-image':'url('+i.link+')'}"  -->
        <!-- <img [src]="hover==x ? i.link2:i.link" class=""> -->
        <img [src]="i.link" class="top-img">
        <img [src]="i.link2" class="bottom-img">
        <div class="info">
            <h3 style="font-family:American Captain;">Title: {{i.title}}</h3>
            <p style="font-family:American Captain;;font-weight:lighter;font-size: 20px">Price: {{i.price}}</p>
            <!-- <button style="font-size:2rem;font-family:American Captain,sans-serif;background-color: aliceblue;color: black;border: none">SHOP</button> -->
        </div>
    </div>
</section>



<div class="store-grid" >
    <div class="store-female">

    </div>
    <div class="store-backpack">
        <h6><span style="font-size: 2.5rem;font-weight: 400;font-family:American Captain,sans-serif;">MEN COLLECTION</span></h6>
        <button style="font-size:2rem;font-family:American Captain,sans-serif;background-color: black;color: aliceblue;border: none" routerLink="/store/men">SHOP</button>
    </div>
    <div class="store-main">
        <h6><span style="font-size: 2.5rem;font-weight: 400;font-family:American Captain,sans-serif;">WOMEN COLLECTION</span></h6>
        <button style="font-size:2rem;font-family:American Captain,sans-serif;background-color: black;color: aliceblue;border: none" routerLink="/store/women" >SHOP</button>
    </div>
    <div class="store-male">
    </div>
</div>

<section class="destination-panel">
    <h2 style="font-family: Payday;font-size: 50px">Your Next Destination ?</h2>
    <input type="text" style="padding:5px;margin: 5px">
    <input type="text" style="padding:5px;margin: 5px">
</section>

<section style="position: relative">
    <h1 style="position: absolute;left: 0">XPEDITIONS</h1>
    <div class="xpedition2">
        <div class="example-2 card" *ngFor="let i of card" style="">
            <div class="wrapper" [ngStyle]="{'background-image':'url('+i.cardLink+')'}">
                <div class="header">
                    <div class="date">
                        <span class="day">12</span>
                        <span class="month">Aug</span>
                        <span class="year">2016</span>
                    </div>
                </div>
                <div class="data">
                    <div class="content">
                        <span class="author">Author</span>
                        <h1 class="title"><a href="#">{{i.cardTitle}}</a></h1>
                        <p class="text">{{i.cardInfo}}</p>
                        <a href="#" class="button">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <h1 style="position: absolute;right: 0;writing-mode: vertical-rl;
                    text-orientation: upright;">View</h1> -->
</section>


<section style="position:relative">
    <!-- <div class="insta-info">
            <i class="fab fa-instagram" style="font-size:100px"></i>
            <h1>Follow Us</h1>
        </div> -->
    <div class="insta-gram">
        <div *ngFor="let i of card2" [ngStyle]="{'background-image':'url('+i.cardLink+')'}">
        </div>
    </div>
</section>
<section class="footer">
    FOOTER
</section>