@font-face {
    font-family: Selima;
    src: url("../../assets/Selima.otf") format("opentype");
}

.nav-style {
    background: rgba(255,255,255,0);
    height: 25vh;
    /* font-family: 'Lobster', 'cursive'; */
    position: absolute;
    z-index: 999;
    font-family: Selima;
 }

 .nav-style2 {
    background: rgba(255,255,255,1);
    height: 10vh;
    font-size: 10px;
 }

 #dropdown{
    cursor: pointer;
 }
 #dropdown2{
    cursor: pointer;
 }

 #dropdown:hover #menu{
    display: block;
    cursor: pointer;
}

 #menu{
     height: auto;
     max-height:500px;
     width: 20%;
     display: none;
     position: absolute;
     /* left: 0; */
     /* top:10vh; */
     background-color: white; 
     border: 0px solid #000000;
     border-radius: 0px 0px 4px 4px;
 }

 #menu :first-child {
     margin-top: 30px
 }

 #menu li {
     /* text-decoration: none; */
     /* margin-left: 20px; */
     color: rgba(0,0,0,.4);
     margin: 0 20px 0 20px;
     padding: 10px 0;
}

#menu li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    background: #9CF5A6;
    visibility: hidden;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .25s linear;
  }
 
 #menu li:hover:before,
 #menu li:focus:before {
   visibility: visible;
   transform: scaleX(1);
 }


 #dropdown2:hover #menu2{
    display: block;
    cursor: pointer;
}

 #menu2{
     height: auto;
     max-height:500px;
     width: 20%;
     display: none;
     position: absolute;
     /* left: 0; */
     /* top:10vh; */
     background-color: white;
     border-radius: 0px 0px 4px 4px;  
 }

 #menu2 :first-child {
     margin-top: 30px
 }

 #menu2 li {
     /* text-decoration: none; */
     /* margin-left: 20px; */
     color: rgba(0,0,0,.4);
     margin: 0 20px 0 20px;
     padding: 10px 0;
}

#menu2 li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    background: #9CF5A6;
    visibility: hidden;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .25s linear;
  }
 
 #menu2 li:hover:before,
 #menu2 li:focus:before {
   visibility: visible;
   transform: scaleX(1);
 }



 .carousel-item img{
     height: 100vh;
     object-fit: cover;
 }
 
 /* .nav-style-second {
    background: rgba(255,255,255,0);
    height: 5vh;
    font-size: 20px;
 } */

 .sidenav {
     height: 100vh;
     width: 0;
     position: fixed;
     z-index: 99999;
     top: 0;
     left: 0;
     background-color:rgb(255, 255, 255);
     overflow-x: hidden;
     transition: 0.5s;
     padding-top: 75px;
     text-align: center
     /* font-family: 'Permanent Marker', cursive; */
   }
   
.sidenav a {
     padding: 8px 8px 8px 32px;
     text-decoration: none;
     font-size: 20px;
     color: #818181;
     display: block;
     transition: 0.3s;
     opacity: 1;
   }
   
.sidenav a:hover {
     color: #f1f1f1;
     
   }
   
.sidenav .closebtn {
     position: absolute;
     top: 0;
     right: 25px;
     font-size: 36px;
     margin-left: 50px;
   }
 
.blur:hover{
     color: rgba(0,0,0,0.5);
     cursor: pointer;
   }

/* .row-shop-style{
    width:95vw;
    margin-top:20vh;
    margin-left:2vw;
} */

.main-body{
    /* background-image: url("../../assets/action-adult-adventure-356808.jpg"); */
    /* background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;  */
    /* height: 100vh; */
    color: #f1f1f1;
    /* font-family: 'Permanent Marker', cursive; */
    margin: 0 0 0 0;
    padding: 0;
}

.second-section-img{
    height: 50vh;
}

.featured-container{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
    ". h ."
    ". footer .";
    height: 85vh;
    margin-bottom: 7.5vh
}

.section-nav{
    grid-area:h;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}

.section-sort{
    grid-area: footer;
}

.product-list-grid-container-item{
    text-align: center
}

.product-list-grid-container-item img{
    width: 100%;
    height: 600px;
}

/* #featured-section div{
   margin: 10px;
}

.featured-header{
    grid-area:header;
}

.featured-img1{
    grid-area:footer;
    display: flex;
    flex-direction: column;
}
.featured-img2{
    grid-area:footer2;
    display: flex;
    flex-direction: column;
}
.featured-img3{
    grid-area:footer3;
    display: flex;
    flex-direction: column;
}

#featured-section{ 
    display: grid;
    color: #EDECEC;
    text-align: center;
    grid-template-columns:25% 25% 25% 25%;
    grid-template-rows: 100%;
    grid-template-areas: 
    "header footer footer2 footer3";
    height: 50vh;
    margin: 12.50vh 0;
} */

#featured-section img{
    width: 100%;
    height: 80%;
}

.destination-panel{
    background-image: url("../../assets/alone-cold-daylight-351978.jpg");
    width:inherit;
    height:85vh;
    background-position: center;
    background-size: auto;
    background-attachment: fixed;
    color: #EDECEC;
    font-size: 2.5em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* font-family: 'Lobster', 'cursive'; */
}

.destination-panel input{
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
}

.destination-panel input:hover{
    background-color: rgba(0,0,0,.4);
    transform: scaleX()
}

.store-panel{
    width: inherit;
}


.store-panel-row{
    margin: 0;
    padding: 0;
}

.store-panel-col{
    height: 85vh;
    margin: 0;
    padding: 0;
    /* width: inherit; */
}

.store-panel-men{
    background-image: url("../../assets/Untitled-1.png");
    background-position: unset;
    background-size: auto;
    /* background-attachment: fixed; */
    /* color: #EDECEC; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* text-align: left; */
    justify-content: center;
    padding-left: 10vw; 
    /* font-family: 'Lobster', 'cursive'; */
}

/* .come-in {
    transform: translateX(1500px);
    animation: come-in 1s ease 0.15s forwards;
  }
  .come-in:first-child {
    animation-duration: 0.6s;
  }

  .come-in:nth-child(2) {
    animation-duration: 0.8s;
  }

  .come-in:nth-child(3) {
    animation-duration: 1s;
  }
   */
  @keyframes come-in {
    to { transform: translateX(0); }
  }

.third-section{
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    /* font-family: 'Lobster', 'cursive'; */
    margin: 15vh 0 15vh 0;
    padding: 0;
}

.post-panel{
    /* margin-top: 0px;
    margin-right:70px; */
    width: 200px;
    height: 50vh;
    border: black solid 1px;
    position: absolute;
    right:0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -999;
    background-color: black;
    color: white;
}

.insta-gallery{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 7.5vh 0 7.5vh 0;
    font-family: 'Permanent Marker', cursive;
}

.insta-gallery img{
    width: 280px;
    height: 210px;
    border: #f1f1f1 4px solid;
    
}

.insta-gallery img:hover{
    animation: scale 200ms ease-in-out forwards;
}

@keyframes scale {
    to {
        transform: scale(2)
    }
}

.mid-text{
    /* font-family: 'Permanent Marker', cursive; */
}

.space-bar{
    /* font-family: 'Permanent Marker', cursive; */
    margin: 0 0 7.5vh 0;
}

.row-style{
    width: 95%;

}

.col-style{
    text-align: center;
}

.post-latest{
    height: 100vh
}


.card-deck{
    margin: 0;
    padding: 0;
}

.card{
    border-radius: 0!important;
    min-width: 325px;
    max-width: 325px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.75);
}

.card img{
    border-radius: 0!important;
    height: 250px;
}

.card-body{
    border-radius: 0!important;
    height: 200px;
}

.footer{
    display: grid;
    /* background-color: black; */
    /* color: #EDECEC; */
    grid-template-columns: auto auto auto;
    grid-template-rows: 250px;
}

.footer-sec-one{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold
}

.footer-sec-one ul li {
    padding: 10px;
}

.footer-sec-two{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex-direction: column;
}

.footer-sec-two ul li {
    padding: 5px;
    font-size: 1.25em
}

.footer-sec-three{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex-direction: column;
}

.footer-sec-three ul li {
    padding: 5px;
}

.post-section{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows:auto;
    grid-column-gap:30px;
    grid-row-gap: 30px;
    padding: 0;
    justify-content: center;	
    text-align: center
}
/* 
.post-card{
    transition: box-shadow 0.3s ease-in;
    margin-bottom: 20px;
}

.post-card:hover{

    box-shadow: 0px 7px 15px 6px rgba(0,0,0,0.26);
} */


.post-heading{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0vh;
    margin: 0;
}

.post-img{
    height: 400px;
    overflow: hidden;
    background-color: #000000;
}

.post-img img{
    height: 100%;
    transition: all 0.6s;
}

.post-img:hover img{
    transform: scale(1.5);
    opacity: 0.7;
    
    /* box-shadow: 0px 7px 15px 6px rgba(0,0,0,0.26); */
}

.button-style{
    display: flex;
    justify-content: center;
    padding: 25px;
}


.xpedition-nav{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
}

.xpedition-container{
    display: grid;
    grid-template-columns: 7.5% 90%;
    grid-template-rows:100%;
    height: 100vh;
}

.xpedition-container.slick-track{
    height: 100vh;
}

.carousel-style2{
    transform: perspective(5000px) rotateX(60deg); 
    transition: all 0.3s ease-in;

}

.carousel-style2  .slick-slider2 {
    box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1), 0 0.5em 0 -0.25em #f2f2f2, 0 0.5em 0.1875em -0.25em rgba(0, 0, 0, 0.1), 0 1em 0 -0.5em #e5e5e5, 0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.1) ;
}

.carousel-style2  .slick-slider2 .slick-current{
    transform: perspective(-5000px) rotateX(-60deg); 
}

.post-body{
    margin-bottom: 2vh;
    padding: 25px 25px 0 25px;
}
